<form onsubmit={{action "save"}}>
  {{#each errorMessages as |error|}}
    <div class="alert-danger">
      {{error}}
    </div>
  {{/each}}

  {{paper-input label="Name" class="test-contact-name" value=contact.name}}

  {{#each contact.phoneNumbers as |phone|}}
    {{paper-input label="Phone" class="test-contact-phone" value=phone.number}}
    <button type="button" class="test-remove-phone" {{action "removePhone" phone}}>
      Remove Phone
    </button>
  {{/each}}

  <button type="button" class="test-add-phone" {{action "addPhone"}}>
    Add Phone
  </button>

  {{#each contact.emailAddresses as |email|}}
    {{paper-input label="Email" class="test-contact-email" value=email.address}}
    <button type="button" class="test-remove-email" {{action "removeEmail" email}}>
      Remove Email
    </button>
  {{/each}}

  <button type="button" class="test-add-email" {{action "addEmail"}}>
    Add Email
  </button>

  {{#paper-button raised=true type="submit" class="test-save"}}Save{{/paper-button}}
</form>
