{{#paper-toolbar accent=true}}
  <div class="md-toolbar-tools">
    <span class="md-breadcrumb-page">Contacts</span>
  </div>
{{/paper-toolbar}}

{{#paper-list}}
  {{#paper-item}}
    <p>Name</p>
    <p>Email</p>
    <p>Phone</p>
  {{/paper-item}}
  {{paper-divider}}
  {{#each sortedModel as |contact|}}
    {{#paper-item class="test-contact"}}
      <p class="test-contact-name">
        {{#link-to "contacts.edit" contact.id class="test-contact-name"}}
          {{contact.name}}
        {{/link-to}}
      </p>
      <p class="test-contact-primary-email">
        {{#if contact.primaryEmail}}
          <a href="mailto:{{contact.primaryEmail}}">{{contact.primaryEmail}}</a>
        {{/if}}
        {{#if contact.additionalEmailCount}}
          (+{{contact.additionalEmailCount}})
        {{/if}}
      </p>
      <p class="test-contact-primary-phone">
        {{#if contact.primaryPhone}}
          <a href="tel:{{contact.primaryPhone}}">{{contact.primaryPhone}}</a>
        {{/if}}
        {{#if contact.additionalPhoneCount}}
          (+{{contact.additionalPhoneCount}})
        {{/if}}
      </p>
    {{/paper-item}}
    {{paper-divider}}
  {{/each}}
{{/paper-list}}
